*{
    margin: 0;
    padding: 0;
    background-color: #80bdc9;
}
#name {
    color: white;
    text-shadow: 2px 2px 3px black;
    font: 24px bold italic;
    margin-right: auto;
    padding: 9px;
}

h1 {
    padding: 20px;
}

.menubalk {
    display: flex;
    border: 4px solid #c4e4eb;
    border-radius: 7px;
    margin:10px;
}

.menubalk ul {
    list-style: none;
    display: flex;
}

.menubalk li {
    margin-left: 250px;
}

.menubalk a {
    color: #a7ccd5;
    text-decoration: none;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
}

.menubalk a:hover {
    background-color: #a1cbd4;
    border-radius: 5px;
    color: floralwhite;
}

#spel1 {
    width: 370px;
    height: 490px;
    border-radius: 12px;
    border: 4px solid #c4e4eb;
    transition: opacity 0.4s;
    position: absolute;
    top: 148px;
    left: 100px;
    overflow: hidden;
    cursor: pointer;
}

#spel1:hover {
    opacity: 50%;
}

#titel-spel1 {
    font-size: 13px;
    color: floralwhite;
    text-shadow: 8px 8px 4px black;
    position: absolute;
    top: 350px;
    left:105px;
}

#spel2 {
    width: 355px;
    height: 492px;
    border-radius: 12px;
    border: 4px solid #c4e4eb;
    transition: opacity 0.4s;
    position: absolute;
    top: 148px;
    left: 544px;
    cursor: pointer;
}

#spel2:hover {
    opacity: 50%;
}

#titel-spel2 {
    font-size: 40px;
    color: floralwhite;
    text-shadow: 8px 8px 4px black;
    position: absolute;
    top: 350px;
    left: 620px;
}

#spel3 {
    width: 355px;
    height: 490px;
    border-radius: 12px;
    border: 4px solid #c4e4eb;
    transition: opacity 0.4s;
    position: absolute;
    top: 148px;
    right: 100px;
    cursor: pointer;
}

#spel3:hover {
    opacity: 50%;
}

#titel-spel3 {
    font-size: 50px;
    color: floralwhite;
    text-shadow: 8px 8px 4px black;
    position: absolute;
    top: 350px;
    right: 175px;
}



