body {
    background: #DEEBF7;
    margin: 0;
    height: 100vh;

}

h1 {
    font-size: 40px;
    color: #1F78A4;

    text-shadow:
    0 0 5px #1F78A4,
    0 0 10px #1F78A4,
    0 0 20px #1F78A4,
    0 0 30px #1F78A4,
    0 0 50px #fff,
    0 0 70px #fff,
    0 0 80px #fff,
    0 0 120px #fff;
}

#hoofdsectie {
    background-color: #C6DBEF;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    margin: 10px;
}

.search-balk {
  position: absolute;
  top: 45px;
  right: 40px;
  width: 50px;
  transition: width 0.3s ease-in-out;
}

.search-balk input {
  width: 100%;
  padding: 10px 0px 10px 15px;
  font-size :16px;
  border: none;
  border-radius: 20px;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.search-balk button {
  position: absolute; 
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  background: lightblue;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.search-balk:hover {
  width: 250px;
}

.search-balk:hover input {
  opacity: 1;
}

.search-balk:hover button {
  transform: translateY(-50%)
  rotate(360deg);
}

ul{
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 40%;
}

.basic-games {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .game {
    position: relative;
    width: 300px; 
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  }
  
  .game img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    opacity: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .game img:hover{
    transform: scale(1.1) rotate(-2deg);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  }

  .titel-spel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  }

  .icon {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navigation {
    display: flex;
    justify-content: flex-end; 
    padding: 10px 20px;
  }

  .menubalk {
    margin-top: -100px; 
  }
  
  .menubalk ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menubalk li {
    display: inline-block;
  }
  
  .menubalk a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 8px 16px;
    transition: 0.3s;
  }

.menubalk a:hover {
    color: #1F78A4;
}